@model ReservationFinal.DATA.EF.Reservation

@{
    ViewBag.Title = "Reservation Details";
}

<div class="container">
    <h2 class="viewHeader">@ViewBag.Title</h2>

    <div class="bg-dark text-white rounded-3 p-2">
        <h4>Reservation</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReservationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location.LocationName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location.LocationName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OwnerInstrument.InstrumentName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OwnerInstrument.InstrumentName)
            </dd>

            <dt>
                Instrument Notes:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OwnerInstrument.SpecialNotes)
            </dd>

        </dl>

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ReservationID }, new { @class = "text-white" }) |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "text-white" })
        </p>
    </div>
</div>