@model IEnumerable<ReservationFinal.DATA.EF.Reservation>

@{
    ViewBag.Title = "Reservations";
}

<div class="container">
    <h2 class="viewHeader">@ViewBag.Title</h2>

    <div id="MessageContent"></div>

    <p>
        @*@Html.ActionLink("Create New", "Create")*@
        <button id="toggleReservationCreate" class="btn btn-primary">Create New</button>
        @*@Html.ActionLink("To Instruments", "Index", "OwnerInstruments", null, new { @class = "btn btn-dark"} )*@
    </p>

    @* Create a placeholder for the Partial View to render *@
    <div id="ReservationCreate">
        @Html.Partial("ReservationCreate", new ReservationFinal.DATA.EF.Reservation())
    </div>

    <div class="table-responsive-md">
        <table class="table table-striped reservationsTable" id="dataTable">
            <thead class="bg-dark text-white">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ReservationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Location.LocationName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OwnerInstrument.InstrumentName)
                    </th>
                    <th>
                        Notes:
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="Reservation-@item.ReservationID">
                        <td>
                            @Html.DisplayFor(modelItem => item.ReservationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.LocationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerInstrument.InstrumentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerInstrument.SpecialNotes)
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }, new { @class = "btn btn-sm btn-dark" })
                            @Html.ActionLink("Details", "Details", new { id = item.ReservationID }, new { @class = "btn btn-sm btn-dark" })
                            @if (item.ReservationDate - DateTime.Now.Date < TimeSpan.FromDays(7) && !User.IsInRole("Admin"))
                            {
                                @*@Html.ActionLink("Delete", "Delete", new { id = item.ReservationID }, new { @class = "btn btn-sm btn-dark", disabled = "true" })*@
                                <button class="btn btn-sm text-white deleteDisabled" title="You are unable to delete reservations within a week of the Reservation Date. Contact an admin if you really want to delete this reservation." data-toggle="tooltip" data-placement="top">Delete</button>
                            }
                            else
                            {
                                @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID }, new { @class = "btn btn-sm btn-dark" })
                            }
                            @if (User.IsInRole("Employee"))
                            {
                                @Html.ActionLink("Edit Instrument Notes", "Edit", "OwnerInstruments", new { id = item.OwnerInstrumentID }, new { @class = "btn btn-sm btn-dark" })
                            }
                            else if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Edit Instrument", "Edit", "OwnerInstruments", new { id = item.OwnerInstrumentID }, new { @class = "btn btn-sm btn-dark" })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                responsive: true,
                "language": {
                    "emptyTable": "You have no reservations. Be sure to <a class='text-dark' href='/OwnerInstruments/Create/'><b>add an instrument</b></a> first."
                }
            });
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <!-- AJAX BELOW -->
    <!--ADDEDjQuery UI CDN-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- ADDED jQuery Ajax CDN-->
    <script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        //***************AJAX CREATE***************\\
        //Show the create form
        $('#ReservationCreate').hide(); //Start the page load with the create form hidden
        $('#toggleReservationCreate').click(function () {
            $('#ReservationCreate').toggle(); //Flip the create form between hidden and visible
        });

        $('#ReservationCreateForm').submit(function (e) {
            var formData = $(this).serializeArray(); // Capturing all of the inputs from the form and storing them in a JSON array
            console.log(formData);
            e.preventDefault();

            $.ajax({
                url: "/Reservations/AjaxCreate",
                type: "POST",
                data: formData,
                datatype: "json",
                error: function (e) {
                    $("#MessageContent").html("<div class = 'alert alert-danger'>Reservations full on that date at that location. Please try a different date or location.</div>")
                },
                success: function (s) {
                    $("#MessageContent").html("<div class = 'alert alert-success'>Successfully added Reservation. Refreshing...</div>");
                    // Reset the form
                    $("#ReservationCreateForm")[0].reset();
                    setInterval('location.reload()', 1000);
                    // Add the row with the code below
                    //$(function () {
                    //var row = "<tr>" + "<td>Refresh to View Options</td></tr>";
                    ////        "<td>" + s.LocationName + "</td>" +
                    ////        "<td>" + s.Address + "</td>" +
                    ////        "<td>" + s.City + "</td>" +
                    ////        "<td>" + s.State + "</td>" +
                    ////        "<td>" + s.ReservationLimit + "</td>" +
                    ////
                    //    $(".reservationsTable").append(row);
                    //}); unneeded because page is being automatically reloaded.
                    //$('#Reservation-' + data.ReservationID).replaceWith(row);
                }
            });
        });
    </script>
}