@model IEnumerable<ReservationFinal.DATA.EF.Reservation>

@{
    ViewBag.Title = "Reservations";
}

<div class="container">
    <h2 class="viewHeader">@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-md btn-primary" })
    </p>
    <div class="table-responsive-md">
        <table class="table table-striped" id="dataTable">
            <thead class="bg-dark text-white">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ReservationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Location.LocationName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OwnerInstrument.InstrumentName)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReservationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.LocationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerInstrument.InstrumentName)
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }, new { @class = "btn btn-sm btn-dark" })
                            @Html.ActionLink("Details", "Details", new { id = item.ReservationID }, new { @class = "btn btn-sm btn-dark" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID }, new { @class = "btn btn-sm btn-dark" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function () {
             $('#dataTable').DataTable({
                responsive: true,
                 "language": {                     
                     "emptyTable": "You have no reservations. Be sure to <a class='text-dark' href='/OwnerInstruments/Create/'><b>add an instrument</b></a> first."
                 }
            });
        });
    </script>
}