@using Microsoft.AspNet.Identity;
@model IEnumerable<ReservationFinal.DATA.EF.OwnerInstrument>

@{
    if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Employee")))
    {
        ViewBag.Title = "All Instruments";
    }
    else
    {
        ViewBag.Title = "Your Instruments";
    }

}

<div class="container">
    <h2 class="viewHeader">@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-md btn-primary" })
    </p>
    <div class="table-responsive-md">
        <table class="table table-striped" id="dataTable">
            <thead class="bg-dark text-white">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.InstrumentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InstrumentPhoto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SpecialNotes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateAdded)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InstrumentType.InstrumentTypeName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.InstrumentName)
                        </td>
                        <td class="text-center">
                            <img class="rounded-3" src="~/Content/instImages/t_@item.InstrumentPhoto" alt="@item.InstrumentName" title="@item.InstrumentName" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SpecialNotes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateAdded)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InstrumentType.InstrumentTypeName)
                        </td>
                        <td class="text-center">
                            @if (Request.IsAuthenticated && User.IsInRole("Employee") && item.OwnerID != User.Identity.GetUserId())
                            {
                                //If the User is an employee and the instrument is not theirs
                                @Html.ActionLink("Edit", "Edit", new { id = item.OwnerInstrumentID }, new { @class = "btn btn-sm btn-dark" })
                                @:&nbsp;
                                @Html.ActionLink("Details", "Details", new { id = item.OwnerInstrumentID }, new { @class = "btn btn-sm btn-dark" })
                            }
                            else
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.OwnerInstrumentID }, new { @class = "btn btn-sm btn-dark" })
                                @:&nbsp;
                                @Html.ActionLink("Details", "Details", new { id = item.OwnerInstrumentID }, new { @class = "btn btn-sm btn-dark" })
                                @:&nbsp;
                                @Html.ActionLink("Deactivate", "Delete", new { id = item.OwnerInstrumentID }, new { @class = "btn btn-sm btn-dark" })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function () {
             $('#dataTable').DataTable({
                responsive: true
            });
        });
    </script>
}