@using Microsoft.AspNet.Identity;
@model IEnumerable<ReservationFinal.DATA.EF.OwnerInstrument>

@{
    if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Employee")))
    {
        ViewBag.Title = "Active Instruments";
    }
    else
    {
        ViewBag.Title = "Your Instruments";
    }
    var currentUser = User.Identity.GetUserId();
}

<div class="container">
    <h2 class="viewHeader">@ViewBag.Title</h2>

    @if (ViewBag.InstrumentsCount == 0)
    {
        <h3 class="text-center text-danger">You currently have no active instruments!</h3>
    }

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-md btn-primary" })
        @*@Html.ActionLink("To Reservations", "Index", "Reservations", null, new { @class = "btn btn-dark" })*@
        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
        {
            @Html.ActionLink("Inactive Instruments", "InactiveIndex", null, new { @class = "btn btn-md btn-dark" })
        }
    </p>
    <div class="table-responsive-md">
        <table class="table table-striped" id="dataTable">
            <thead class="bg-dark text-white">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.InstrumentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InstrumentPhoto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SpecialNotes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateAdded)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InstrumentType.InstrumentTypeName)
                    </th>
                    <th>
                        Owner
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.InstrumentName)
                        </td>
                        <td class="text-center">
                            <img class="rounded-3" src="~/Content/instImages/t_@item.InstrumentPhoto" alt="@item.InstrumentName" title="@item.InstrumentName" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SpecialNotes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateAdded)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InstrumentType.InstrumentTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
                        </td>
                        <td class="text-center">
                            @if (Request.IsAuthenticated && User.IsInRole("Employee") && item.OwnerID != User.Identity.GetUserId())
                            {
                                //If the User is an employee and the instrument is not theirs
                                @Html.ActionLink("Edit Notes", "Edit", new { id = item.OwnerInstrumentID }, new { @class = "btn btn-sm btn-dark" })
                                @Html.ActionLink("Details", "Details", new { id = item.OwnerInstrumentID }, new { @class = "btn btn-sm btn-dark" })
                                if (item.IsActive)
                                {
                                    @Html.ActionLink("Deactivate", "Delete", new { id = item.OwnerInstrumentID }, new { @class = "btn btn-sm btn-danger" })
                                }
                                else
                                {
                                    @Html.ActionLink("Reactivate", "Delete", new { id = item.OwnerInstrumentID }, new { @class = "btn btn-sm btn-success" })}

                            }
                            else
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.OwnerInstrumentID }, new { @class = "btn btn-sm btn-dark mr-1" })
                                @Html.ActionLink("Details", "Details", new { id = item.OwnerInstrumentID }, new { @class = "btn btn-sm btn-dark mr-1" })
                                if (item.IsActive)
                                {
                                    @Html.ActionLink("Deactivate", "Delete", new { id = item.OwnerInstrumentID }, new { @class = "btn btn-sm btn-danger" })
                                }
                                else
                                {
                                    @Html.ActionLink("Reactivate", "Delete", new { id = item.OwnerInstrumentID }, new { @class = "btn btn-sm btn-success" })}

                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/DataTables.js")
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                responsive: true,
                "language": {
                    "emptyTable": "You haven't added an instrument yet!"
                },
                columnDefs: [
                    { orderable: false, targets: [1] }
                ]
            });
        });
    </script>
}