@model ReservationFinal.DATA.EF.InstrumentType

@{
    ViewBag.Title = Model.InstrumentTypeName + " Details";
}

<div class="container">
    <h2 class="viewHeader">@ViewBag.Title</h2>

    <div class="bg-dark text-white rounded-3 p-2">
        <h4 class="subHeader">Instrument Type</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.InstrumentTypeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InstrumentTypeName)
            </dd>

        </dl>

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.InstrumentTypeID }, new { @class = "text-white" }) |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "text-white" })
        </p>
    </div>
</div>
