@model IEnumerable<ReservationFinal.DATA.EF.InstrumentType>

@{
    ViewBag.Title = "Instrument Types Index";
}

<div class="container">
    <h2 class="viewHeader">@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-md btn-primary" })
    </p>
    <div class="table-responsive-md">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.InstrumentTypeName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InstrumentTypeName)
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Edit", "Edit", new { id = item.InstrumentTypeID }, new { @class = "btn btn-sm btn-dark" })
                        @Html.ActionLink("Details", "Details", new { id = item.InstrumentTypeID }, new { @class = "btn btn-sm btn-dark" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.InstrumentTypeID }, new { @class = "btn btn-sm btn-dark" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>